:root {
    --primaryColor: #c7383e;
}

// <----- Global Styles ----->
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Times New Roman', serif !important;
    line-height: normal;
}
